RewriteEngine on

<FilesMatch \.ini$>
  deny from all
</FilesMatch>

<FilesMatch \.log$>
  deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]

RewriteCond %{REQUEST_URI} !^(.*).css$
RewriteCond %{REQUEST_URI} !^(.*).png$
RewriteCond %{REQUEST_URI} !^(.*).jpg$
RewriteCond %{REQUEST_URI} !^(.*).gif$
RewriteCond %{REQUEST_URI} !^(.*).js$
RewriteCond %{REQUEST_URI} !^(.*).ico$
RewriteCond %{REQUEST_URI} !^(.*).swf$
RewriteCond %{REQUEST_URI} !^(.*).class$
RewriteCond %{REQUEST_URI} !^(.*).php$
RewriteCond %{REQUEST_URI} !^(.*).ini$
RewriteCond %{REQUEST_URI} !^(.*).flv$
RewriteCond %{REQUEST_URI} !^(.*).mp4$
RewriteCond %{REQUEST_URI} !^(.*).avi$
RewriteRule ^(.*)$ /index.php?$1 [L]

RewriteCond %{REQUEST_METHOD} ^(HEAD|GET) [NC]
RewriteCond %{HTTP:Range} ([0-9]*-[0-9]*)(\s*,\s*[0-9]*-[0-9]*)+
RewriteRule .* - [F]

FileETag None

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 300 seconds"
  ExpiresByType image/jpg "access plus 1 weeks"
  ExpiresByType image/gif "access plus 1 weeks"
  ExpiresByType image/jpeg "access plus 1 weeks"
  ExpiresByType image/png "access plus 1 weeks"
  ExpiresByType image/x-icon "access plus 1 months"
  ExpiresByType text/css "access plus 1 weeks"
  ExpiresByType text/javascript "access plus 1 weeks"
  ExpiresByType application/javascript "access plus 1 weeks"
  ExpiresByType application/x-shockwave-flash "access plus 1 weeks"
</IfModule>

